.headerSection .navbar {
  padding: 0.7rem 0;
  background-color: var(--bg-main);
}

.headerSection .navbar .nav-link {
  margin-left: 1rem;
  color: var(--text-light);
  text-transform: uppercase;
}

.headerSection .navbar .nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  display: block;
  transition: all 0.4s ease-in-out;
}

.headerSection .navbar .nav-link:hover::after {
  width: 100%;
}

.headerSection .navbar .cta {
  margin-left: 1rem;
  border: 0;
  padding: 0.5rem 2rem;
}
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url(../../../public/image/bar.png);
}

.headerSection .navbar .cta:hover {
  background-color: #fff;
}

@media (max-width: 992px) {
  .headerSection .navbar {
    text-align: center;
  }

  .headerSection .navbar .nav-link {
    margin-top: 1rem;
    margin-left: 0;
  }

  .headerSection .navbar .cta {
    margin-left: 0;
  }
}
